body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh; /* 뷰포트 전체 높이로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* 흰색 배경 색상과 투명도 조절 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: auto;
}

h1 {
    text-align: center;
    color: #007bff;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 세로 방향으로 요소 정렬 */
}

.form {
    width: 100%; /* 폼 너비를 100%로 설정하여 컨테이너에 맞게 조정 */
    padding: 20px;
    margin-top: 20px; /* 폼 간격을 추가 */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* 흰색 배경 색상과 투명도 조절 */
}

h2 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
